<div class="row">
    <div class = "col-md-8">
       
            <%= form_for @question do |f| %>
                <div class="form-group">
                    <%= f.label :titre %>
                    <%= f.text_field :titre, class: 'form-control' %>
                </div> 
                <div class="form-group">
                    <%= f.label :categorie %>
                    <div class="controls">
                    <%= f.select(:categorie, options_for_select([['Religion','Religion'], ['Carriere','Carriere'],['Voyage','Voyage'],['Sport','Sport']]))    %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :question %>
                    <%= f.text_area :question, class: 'form-control' %>
                </div>    
                <%= f.submit 'Submit', class: 'btn btn-default' %>
            <% end %>
       
    </dic>
    
</div>